
.opponents {
    display: flex;
    justify-content: space-evenly;
    padding: 5%;
    min-height: 200px;
}

.chat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 25%;
    width: 100%;
    height: 100%;
    padding: 5%;
    border: solid rgb(187, 211, 255);
    border-width: 1px 0;
}

.opponents_title {
    background-color: rgb(34, 126, 218);
    color: white;
    min-width: 1%;
    justify-self: center;
    width: 100%;
    text-align: center;
}

img {
    margin: auto;
}

.info {
    display: flex;
    justify-content: space-between;
    word-break: break-all;
}

.info-opponent {
    display: flex;
    background-color: white;
    justify-content: space-around;
    text-align: center;
    width: 100%;
    height: 10%;
    word-break: break-all;
}

.val-opp {
    display: flex;
    justify-content: space-between;
    background-color: rgb(187, 211, 255);
    color: rgb(31, 111, 192);
    padding: 2%;
    word-break: break-all;
}

.val-your {
    display: flex;
    justify-content: space-between;
    background-color: rgb(234, 241, 255);
    color: rgb(31, 111, 192);
    padding: 2%;
    word-break: break-all;
}
  
.buttonPing {
    background-color:rgb(33, 122, 211);
    color: white;
    width:100%;
    min-height: 200px;
    font-weight:bold;
    font-size: 18vmin;
    transition: font-size .5s ease;
}



.buttonPing:hover {
    background-color:#146fca;
    color: white;
    font-weight: bold;
    font-size: 13vmin;
    word-break: break-all;
}

.userDetails {
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-wrap: normal;
    width: 90%;
}

.toast {
    margin-top: 15%;
    display: flex;
    height: 5%;
    width: 100%;
    justify-content: center;
    font-size: larger;
}

.login {
    padding: 10%;
    display: flex;
    justify-content: space-around;
}

.greeting {
    display: flex;
    width: 100%;
    justify-content: center
}

