.lobby {
    margin-top: 10%;
    margin-bottom: 30%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(234, 241, 255);
    color: rgb(27, 96, 165);
    display: flex;
    flex-direction: column;
    font-weight:bold;
}

.userData {
    background-color: rgb(234, 241, 255);
    display: flex;
    flex-direction: row;

}

img {

    margin: auto;
}

.info {
    display: flex;
    justify-content: space-between;
    word-break: break-all;
  
}

.infotag {
    min-width: 30%;
}

.val-opp {
    display: flex;
    justify-content: space-between;
    background-color: rgb(187, 211, 255);
    color: rgb(31, 111, 192);
    padding: 2%;
}

.val-your {
    display: flex;
    justify-content: space-between;
    background-color: rgb(234, 241, 255);
    color: rgb(31, 111, 192);
    padding: 2%;
}

.buttonPing {
    background-color:cornflowerblue;
    color: white;
    border-color: white;
}

.buttonLogout {

    background-color: rgb(20, 125, 230);
    color: white;
}

.buttonLogout:hover {

    background-color:rgb(19, 108, 197);
    color: white;
}

.userDetails {
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.login {
    padding: 10%;
    display: flex;
    justify-content: space-around;
}

.greeting {
    display: flex;
    width: 100%;
    justify-content: center
}

.loginPage {
    margin-top: 10%;
    margin-bottom: 30%;
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.avatar {
    background-color: rgb(208, 225, 255);
    display: flex;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    justify-content: center
}

@media only screen and (max-width: 700px) {
    .userData {
        display: flex;
        flex-direction: column;
        overflow-wrap:break-word;
    }    
}
