.lobby {
    margin-top: 10%;
    margin-bottom: 30%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(234, 241, 255);
    color: rgb(27, 96, 165);
    display: flex;
    flex-direction: column;
    font-weight:bold;
}


.userData {
    background-color: rgb(234, 241, 255);
    display: flex;
    flex-direction: row;
    border-style: solid;
    border: solid rgb(187, 211, 255);
    border-width: 1px 0;
    padding: 2%;
}

img {

    margin: auto;
}

.info {
    display: flex;
    justify-content: space-between;
    word-break: break-all;
    border: solid rgb(187, 211, 255);
    border-width: 1px 0;
    background-color: rgb(242, 247, 255);
}

.infotag {
    min-width: 30%;
}

.val-opp {
    display: flex;
    justify-content: space-between;
    background-color: rgb(187, 211, 255);
    color: rgb(31, 111, 192);
    padding: 2%;
}

.val-your {
    display: flex;
    justify-content: space-between;
    background-color: rgb(234, 241, 255);
    color: rgb(31, 111, 192);
    padding: 2%;
}

.joinwrapper {
    display: flex;
    justify-content: center;
    padding: 5%;
    background-color: rgb(223, 233, 253);;
   
}

.buttonJoin {
    background-color:rgb(20, 125, 230);
    color: white;
    width:80%;
    height: 80%;
    min-height: 200px;
    font-weight:bold;
    font-size: 20px;
    word-wrap: break-word;
}

.buttonJoin:hover {
    background-color:rgb(19, 108, 197);
    font-weight: bold;
}

.buttonLogout {
    background-color: rgb(20, 125, 230);
    color: white;
}

.buttonLogout:hover {

    background-color:rgb(19, 108, 197);
    color: white;
}

.lobby_title {
    background-color: rgb(40, 135, 231);
    color: white;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-width: 1%;
    justify-self: center;
    width: 100%;
    text-align: center;

    
}

.userDetails {
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   

}

.login {
    padding: 10%;
    display: flex;
    justify-content: space-around;
}

.greeting {
    display: flex;
    width: 100%;
    justify-content: center
}

.loginPage {
    margin-top: 10%;
    margin-bottom: 30%;
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.avatar {
    background-color: rgb(208, 225, 255);
    display: flex;
    flex-direction: column;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    justify-content: center
}

.loginPage {
    margin-top: 10%;
    margin-bottom: 30%;
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


@media only screen and (max-width: 600px) {
    .userData {
        display: flex;
        flex-direction: column;
        overflow-wrap: normal;
    }
}

